<!DOCTYPE html>
<head>

    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="homepage">
    <meta name="author" content="lapantonina">

    <title>Learning Python. Exercises</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="">Home</a></li>
                    <li><a href="../contact">Contact form</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container wrapper">
        <div class="container">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">My Exercises
                        <small>(based on random thoughts and ideas)</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Project One -->
            <div class="row">
                <div class="col-md-10">
                    <canvas id="updating-chart" width="940px" height="500px">
                        <script src="/static/js/charts.js"></script>

                          <script type="text/javascript">

                            let previous_data = {% autoescape off %}{{ previous_data }}{% endautoescape %};
                            window.onload = function () {
                              let canvas = document.getElementById('updating-chart'),
                                ctx = canvas.getContext('2d'),
                                startingData = {
                                  labels: previous_data[2],
                                  datasets: [
                                      {
                                          label: 'highest_bid',
                                          fillColor: "rgba(133,187,0,0.2)",
                                          strokeColor: "rgba(133,187,0,1)",
                                          pointColor: "rgba(133,187,0,1)",
                                          pointStrokeColor: "#fff",
                                          data: previous_data[0],
                                          spread: previous_data[5]
                                      },
                                      {
                                          label: 'lowest_ask',
                                          fillColor: "rgba(199,87,37,0.1)",
                                          strokeColor: "rgba(199,87,37,1)",
                                          pointColor: "rgba(199,87,37,1)",
                                          pointStrokeColor: "#fff",
                                          data: previous_data[1],
                                          spread: previous_data[5]
                                      }
                                  ],
                                  
                                },
                                latestLabel = startingData.labels[6];
                            // Reduce the animation steps for demo clarity.
                            let myLiveChart = new Chart(ctx).Line(startingData, {animationSteps: 15});
                            document.getElementById("legend").innerHTML = myLiveChart.generateLegend();
                            setInterval(function() {
                              $( function() {
                                $( function() {
                                  let data = ''
                                  let respond = $.get( "/get_best_rate.html", data, success, "json");
                                } );
                                function success( respond ) {
                                  let lowest_ask = respond.lowest_ask
                                  let highest_bid = respond.highest_bid;
                                  let latestLabel = respond.time;
                                  myLiveChart.addData([highest_bid,lowest_ask], latestLabel);
                                  myLiveChart.removeData();
                                  }
                                } )
                              }, 60000);
                              
                            }
                          </script>
                    </canvas>
                </div>
                <div class="col-md-2">
                    <h3>Maze</h3>
                    <h4>Simple maze generator</h4>
                    <p>Here's a simple maze generator made on array basis.</p>
                        {% if errors %}
                    <ul>
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form action="/maze" method="get">{% csrf_token %}
                        <p><b>Specify the size of your maze (HxW):</b></p>
                        <p><input type="number" class="form-control bfh-number small_number" name="h" min="1" max="100" required="True"> x <input type="number" class="form-control bfh-number small_number" name="w" min="1" max="100" required="True"></p>
                        <p><input type="submit" class="btn btn-primary" value="Generate my maze!"></p>
                    </form>
                </div>
            </div>
            <!-- /.row -->

            <hr>
        </div>
    </div>

    <footer style="background-color: #333333;" class="section-inverse">
        <div class="container"> 
            <div class="row copyright">
                <div class="col-md-6">
                <p>&copy;2017 Loutique</p>
                </div>
                <div class="col-md-6">
                <p class="credit">Template by <a href="http://bootstrapious.com/landing-pages">Bootstrapious &mdash; Bootstrap Landing Pages</a></p>
                <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)
                -->
                </div>
            </div>
        </div>
    </footer>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

</body>

</html>
