<!DOCTYPE html>
<head>
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="maze_generator">
  <meta name="author" content="lapantonina">
  
  <title>USD/BTC Exchange Rate</title>  
  <!-- Bootstrap Core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/static/css/custom.css" rel="stylesheet">


<style>

.label-box ul li {
  display: inline;
  position: relative;
  padding: 2px 50px 2px 25px;
  margin-left: -40px;
  
}
.label-box li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}


.form-control[readonly] {
    cursor: auto;
    margin-bottom: 12px;
}

h4 {
  margin-bottom: 20px;
}
</style>

</head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">

<script src="/static/js/charts.js"></script>
<script type="text/javascript">

  let previous_data = {% autoescape off %}{{ previous_data }}{% endautoescape %};
  window.onload = function () {
    let canvas = document.getElementById('updating-chart'),
      ctx = canvas.getContext('2d'),
      startingData = {
        date: previous_data[0],
        labels: previous_data[1],
        spread: previous_data[6],
        datasets: [
            {
                label: 'highest_bid',
                fillColor: "rgba(133,187,0,0.2)",
                strokeColor: "rgba(133,187,0,1)",
                pointColor: "rgba(133,187,0,1)",
                pointStrokeColor: "#fff",
                data: previous_data[2],
                h_bid_stack: previous_data[3],
            },
            {
                label: 'lowest_ask',
                fillColor: "rgba(199,87,37,0.1)",
                strokeColor: "rgba(199,87,37,1)",
                pointColor: "rgba(199,87,37,1)",
                pointStrokeColor: "#fff",
                data: previous_data[4],
                l_ask_stack: previous_data[5], 
            }
        ],
        
      },
      date = startingData.date[24];
      latestLabel = startingData.labels[24];
      lowest_ask = startingData.datasets[1]['data'][24];
      l_ask_stack = startingData.datasets[1]['l_ask_stack'][24];
      highest_bid = startingData.datasets[0]['data'][24];
      h_bid_stack = startingData.datasets[0]['h_bid_stack'][24];
      spread = startingData.spread[24];
      document.getElementById("time").value = `${date}, ${latestLabel}`;
      document.getElementById("lowest_ask").value = `${lowest_ask} (${l_ask_stack})`;
      document.getElementById("highest_bid").value = `${highest_bid} (${h_bid_stack})`;
      document.getElementById("spread").value = `\$${spread}`;

  let myLiveChart = new Chart(ctx).Line(startingData, {animationSteps: 20});
  document.getElementById("legend").innerHTML = myLiveChart.generateLegend();
  setInterval(function() {
    $( function() {
      $( function() {
        let data = ''
        let respond = $.get( "/get_best_rate.html", data, success, "json");
      } );
      function success( respond ) {
        let lowest_ask = respond.lowest_ask
        let highest_bid = respond.highest_bid;
        let latestLabel = respond.time;
        let l_ask_stack = respond.l_ask_stack;
        let h_bid_stack = respond.h_bid_stack;
        let spread = respond.spread;
        myLiveChart.addData([highest_bid,lowest_ask], latestLabel);
        document.getElementById("time").value = `${date}, ${latestLabel}`;
        document.getElementById("lowest_ask").value = `${lowest_ask} (${l_ask_stack})`;
        document.getElementById("highest_bid").value = `${highest_bid} (${h_bid_stack})`;
        document.getElementById("spread").value = `\$${spread}`;
        myLiveChart.removeData();
        }
      } )
    }, 60000);
    
  }
</script>


  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="..">Home</a></li>
          <li><a href="../contact">Contact form</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="container wrapper">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">USD to BTC exchange rate graph
            <small>(updated once a minute)</small>
          </h1>
        </div>
      </div>
      
      <div class="row">
        <div id="legend" class="container col-md-3 label-box"">
        </div>
        <div class="container col-md-9">
          <p>The graph shows the highest bid and lowest ask (excluding fee) among the following exchanges: EXMO, Yobit, HitBTC, BitFinex, cCEX, XBTCE, CEX.io, Btc-e.</p>
          <p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <canvas id="updating-chart" style="width: 975px; height: 468px;padding-right: 12px">
          </canvas>
        </div>
        <div id="latest_data" class="col-md-2">
        
          <h4>Latest data</h4>
          <b>Time:</b>
            <input id="time" type="text" class="form-control" readonly="true"></input>
          <b>Highest bid:</b>
            <input id="highest_bid" type="text" class="form-control" readonly="true"></input>
          <b>Lowest ask:</b>
            <input id="lowest_ask" type="text" class="form-control" readonly="true"></input>
          <b>Spread:</b>
            <input id="spread" type="text" class="form-control" readonly="true"></input>
        </div>
      </div>

    </div>
  </div>


  <footer style="background-color: #333333;" class="section-inverse">
    <div class="container"> 
      <div class="row copyright">
        <div class="col-md-6">
        <p>&copy;2017 Loutique</p>
        </div>
        <div class="col-md-6">
        <p class="credit">Template by <a href="http://bootstrapious.com/landing-pages">Bootstrapious &mdash; Bootstrap Landing Pages</a></p>
        <!-- Please do not remove the backlink to us. It is part of the licence conditions. Thanks for understanding :)-->
        </div>
      </div>
    </div>
  </footer>
  


<!-- jQuery -->
<script src="/static/js/jquery-1.11.0.min.js"></script>
<script src="/static/js/exchange.js"></script>
<script src="/static/js/bootbox.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>